@tailwind base;
@tailwind components;

btn {
  @apply px-4 py-2 bg-blue-600 text white rounded; 
}

/*
.grid{
  display: flexbox;
  flex-direction: row;
  color: #000000;
  background-color: rgb(113, 66, 101);
  border: 0.2rem solid black;
  margin: 1rem;
  box-sizing: border-box;
  position: absolute;
}

.my-div{
  @apply bg-red-300;
}

.topic{
  margin: 0.1rem;
}
*/

/* style.css */

/* Global styles */
body {

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* Header styles */
header {
  padding: 2rem;
  background-color: #fff;
}

/* Div styles */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
}

.my-div {
  border: 2px solid #000;
  padding: 1rem;
  background-color: #fff;
}

/* Topic styles */
.topic {
  font-weight: bold;
}

/* Subtitle styles */
.subtitle {
  font-style: italic;
}

/* Context styles */
.context {
  margin-top: 0;
} 

@tailwind utilities;

