@tailwind base;
@tailwind components;
@tailwind utilities;

/* style.css */

/* Global styles */
body {
  @apply m-0, p-0, bg-cyan-950;
}

h1 {
  @apply font-normal, mb-1;
}

p {
  @apply mb-1;
}

/* Header styles */
header {
  @apply p-2, bg-cyan-100;
}

/* Div styles */
.grid {
  @apply grid grid-cols-2; 
}

.my-div {
  @apply border-b-2, p-1, bg-zinc-950;
}

/* Topic styles */
.topic {
  @apply font-bold; 
}

/* Subtitle styles */
.subtitle {
  @apply font-light;
}

/* Context styles */
.context {
  @apply mt-0, pl-1;
} 

.link{
  @apply text-blue-600; 
}


