@tailwind base;
@tailwind components;

btn {
  @apply px-4 py-2 bg-blue-600 text white rounded; 
}
/* style.css */

/* Global styles */
body {

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* Header styles */
header {
  padding: 2rem;
  background-color: #fff;
}

/* Div styles */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2rem;
}

.my-div {
  border: 2px solid #000;
  padding: 1rem;
  background-color: #fff;
}

/* Topic styles */
.topic {
  font-weight: bold;
}

/* Subtitle styles */
.subtitle {
  font-style: italic;
}

/* Context styles */
.context {
  margin-top: 0;
  padding-left: 1rem;
} 

@tailwind utilities;

